@import url(http://fonts.googleapis.com/css?family=Exo:500,700,800|Roboto:400,700,900);

// Fonts
@custom: 'Exo', sans-serif;
@default: 'Roboto', sans-serif;

//Colors
@white:#ffffff;
@green:#05ce7b;
@pale-green:#f1f7f2;
@link:#05995c;
@blue:#00acd7;
@gray:#646469;
@light-gray:#d9dfda;
@red:#FF0000;

// Common Herlpers 
.list(){
    list-style: none;
    padding-left: 15px;
    background: transparent url("../images/list-bullet.gif");
}
.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

// CSS3 Customs styles
.opacity(@opacity: .9, @ie-opacity: 90){
    opacity: @opacity; /* other browsers and IE9+ */  
    filter: alpha(opacity=@ie-opacity); /* IE6+ */
}
.inline(){
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;   
}
.rounded(@radius: 10px){
    -moz-border-radius:@radius; /* Firefox */  
    -webkit-border-radius:@radius; /* Safari and chrome */ 
    -khtml-border-radius:@radius; /* Linux browsers */  
    border-radius:@radius; /* CSS3 */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}
.rounded-bottom(@radius: 10px){
    -webkit-border-bottom-right-radius: @radius;
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-radius-bottomright: @radius;
    -moz-border-radius-bottomleft: @radius;
    -khtml-border-radius-bottomright: @radius;
    -khtml-border-radius-bottomleft: @radius;
    border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;  
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}
.shadow(@x-axis: 0px, @y-axis: 1px, @blur: 3px, @shadow-color: #bdc2be){
    box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */    
    -moz-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */
	-webkit-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Safari and Chrome */
    behavior: url(../PIE.php);
}
.gradient(@color: #CCC, @start: #ffffff, @end: #f2f2f2){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@start) to(@end)); /*old webkit*/
    background: -webkit-linear-gradient(@start, @end); /*new webkit*/
    background: -moz-linear-gradient(@start, @end); /*gecko*/
    background: -ms-linear-gradient(@start, @end); /*IE10*/
    background: -o-linear-gradient(@start, @end); /*opera 11.10+*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}
.diagonal-gradient(@color: #05ce7b, @start: #05ce7b, @end: #00acd7){
    background: @color; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  @start 0%, @end 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,@start), color-stop(100%,@end)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  @start 0%,@end 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  @start 0%,@end 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  @start 0%,@end 100%); /* IE10+ */
    background: linear-gradient(135deg,  @start 0%,@end 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05ce7b', endColorstr='#00acd7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}
.rotate(@deg: 180deg, @ie-deg: 2) {
    -webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@ie-deg);    
}
.shadow-text(@color:#8b8b8b;){
    -webkit-text-shadow: 0px 1px 2px @color;
    -moz-text-shadow: 0px 1px 2px @color;
    -khtml-text-shadow: 0px 1px 2px @color;
    text-shadow: 0px 1px 2px @color;
    filter: dropshadow(color=#8b8b8b, offx=0, offy=1);
}
.inner-shadow(@color:#949494;){
    -moz-box-shadow: inset 0 0 20px @color;
    -webkit-box-shadow: inset 0 0 20px @color;
    -khtml-box-shadow: inset 0 0 20px @color;
    box-shadow: inset 0 0 20px @color;
}
.button(){
	color:@gray;
	display:block;
    font-family: @custom;
    font-weight: bold;
    font-size: 16px;
	padding:8px 15px;
    .rounded(8px);
    .gradient(#ffffff, #ffffff, #e3e0e3);
    .shadow(0px, 1px, 3px, #555);
    &:hover{
        color: @link;
        text-decoration: none;
        .gradient(#ffffff, #ffffff, #bed9ce);
    }
}