html{
    margin: 0;
    padding: 0;
}
a{
    color: @link;
    text-decoration: none;
}
a:hover{
	color: @blue;
    text-decoration: underline;
}

body{
    font-family: @default;
    font-size: 14px;
	font-weight: 400;
    color: @gray;
    text-align: center;
}
p{
	font-family:@default; 
	font-weight: normal;
}
input.submit{
	.button();
	float:right;
	width:auto;
}
.wpcf7-submit{
    .button();
	width:auto;    
}
.buttonclass{
	border:2px solid @white;
	color:@gray;
	clear:both;
	display:block;
	font-family:@default;
	font-size:14px;
	margin:9px 0px;
	outline-color:@green;
	outline-width: thin;
	padding:8px;
	width:350px;
	.rounded(8px);
	.shadow();
	.gradient(#ffffff, #e7e7e7, #ffffff);
}
/* ---- Headers ---- */
h1, h2, h3, h4, h5, h6{
	font-family:@custom;
}
h1{
	font-size:43px;
    line-height: 40px;
}
h2{
	font-size:38px;
}
h3{
	font-size:30px;
}
h4{
	font-size:26px;
}
h5{
	font-size:20px;
}
h6{
	font-size:12px;
}

table{
    .gradient(#CCC, #ffffff, #f5f5f5);
	.shadow(0px, 1px, 3px, #04b06f);
    td{
        .shadow(0px, 1px, 3px, #04b06f);
    }
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.alignnone{
    float: none;
}
/* ---- End Headers ---- */
#wrap{
	height: 100%;
	margin: auto;
	position: relative;
	text-align: left;
	width: 1114px;

	header{
		background: @pale-green;
		height: 66px;
		padding: 10px 0 9px;
		h1#logo{
			margin-bottom: 0px;
		}
        #social-buttons {
            width: 250px;
            float: left;
            display: inline-block;
            height: 50px;
            margin-top: 15px;
            #social-text {
                top: -12px;
                position: relative;
                font-weight: bold;
                margin-right: 6px;
            }            
            ul{
                padding: 0;
                display: inline;
                li{
                    display: inline-block;
                    a{
                        width: 36px;
                        height: 36px;
                        display: inline-block;
                    }
                    &.facebook{
                        background: url(images/social-network-buttons.png) no-repeat 0 0;
                        &:hover{
                            background-position: 0 -50px;
                        }
                    }   
                    &.twitter{
                        background: url(images/social-network-buttons.png) no-repeat -42px 0;
                        &:hover{
                            background-position: -42px -50px;
                        }                        
                    }  
                    &.reddit{
                        background: url(images/social-network-buttons.png) no-repeat -85px 0;
                        &:hover{
                            background-position: -85px -50px;
                        }                        
                    }  
                    &.stumbleupon{
                        background: url(images/social-network-buttons.png) no-repeat -128px 0;
                        &:hover{
                            background-position: -128px -50px;
                        }                        
                    }                      
                }
            }
        }        
		ul#qtranslate-2-chooser{
			margin-top: 21px;
            width: 150px;
            padding-left: 80px;
            float: left;
			li{
				border-right: 2px solid @gray;
				list-style: none;
				display: inline-block;
				padding: 0px 5px;
                &:last-child{
                    border-right: none;
                }
				a{
					color:@gray;
					display: block;
					font-size: 18px;
					font-weight: bold;
					padding: 0px 3px;
					&:hover{
						color: @blue;
					}
				}
				&.active{
                    a{
    					color: @white;
    					background: @blue;
    					.rounded(5px);
        				&:hover{
    						color: @white;
    					}                        
                    }
				}
			}
		}
	}
	nav{
		position: relative;
        z-index: 100;
		.gradient(#CCC, #ffffff, #f5f5f5);
		.shadow(0px, 1px, 3px, #04b06f);
		.rounded-bottom();
		ul{
			.mp0();
			li{
				display: inline-block;
                position: relative;
				a{
					color: @gray;
					display: block;
					font-family:@custom;
					font-size: 15px;
					&:hover{
						color: @blue;
						text-decoration: none;
					}
				}
                ul{
                    display: none;
                }                
			}
            li:hover{
                ul{
                    display: block;
                    position: absolute;
                    top: 55px;
                    left: 20px;
                    width: 250px;
                	.gradient(#CCC, #ffffff, #f5f5f5);
            		.shadow(0px, 1px, 3px, #04b06f);
            		.rounded-bottom();                    
                    li{
                        display: block;
                        
            			a{
        					color: @gray;
        					display: block;
        					font-family:@custom;
        					font-size: 15px;
                            padding: 10px;
        					&:hover{
        						color: @blue;
        						text-decoration: none;
        					}
            			}
                    }
                }                
            }
		}
        ul.en{
            li{
                a{
                    padding: 17px;
                }
            }
        }
        ul.ru{
            li{
                a{
                    padding: 17px 13px;
                }
            }
        }        
	}
    ul.side-menu{
        width: 250px;
        list-style-type: none;            
        li{
            display: block;
            a{
				display: block;
				font-family:@custom;
				font-size: 15px;
				padding: 10px;
				&:hover{
					color: @blue;
					text-decoration: none;
				}
			}
        }
    }
    
    ul.side-menu2{
        width: 280px;
        list-style-type: none;            
        li{
            padding: 5px 0;
            ul{
                list-style-type: none;
                li{
                    padding: 0;
                    a{
        				font-family:@custom;
        				font-size: 15px;
        				&:hover{
        					color: @blue;
        					text-decoration: none;
        				}
        			}
                }
            }
        }
    }    

	section#main-banner{
		height: 530px;
		margin-top: -58px;
		.diagonal-gradient();
        .flexslider{
            background: none;
            box-shadow: none;
            .slides{
                background: none;
                padding: 0;
            }
        }
		.flex-prev{
			background: url(images/next-prev1.png) 0 0 no-repeat;
			display: block;
			height: 47px;
			position: absolute;
			top: 278px;
			left: -70px;
			width: 47px;
            z-index: 100;
			&:hover{
				background-position: -80px 0px;
			}

		}
		.flex-next{
			background: url(images/next-prev1.png) 0 -70px no-repeat;
			display: block;
			height: 47px;
			position: absolute;
			top: 278px;
			right: -55px;
			width: 47px;
            z-index: 100;
			&:hover{
				background-position: -80px -70px;
			}
		}
		.flex-caption{
			color: @white;
			padding-top: 180px;
			position: relative;
			z-index: 100;
			h2{
				line-height: 50px;
				.shadow-text
			}
			a{
				float: left;
				.button();
			}
		}
		.feature-image{
			height: 530px;
			position: absolute;
			right:-72px;
            top: -5px;
			width: 1114px !important;
			/*margin-top: 75px;*/
			/* agregue selector img */
			img{
				border: none;
			}
		}
	}
	section#news{
		background: @pale-green;
		height: 100%;
		padding: 35px 0px;
		article{
			display: inline-block;
			height: 100%;
			width:300px;
			margin-right: 25px;
            float: left;
			&:last-child{
				margin-right: 0px;
			}
			.date{
				background:@blue;
				color: @white;
				width: 90px;
				height: 24px;
				text-align: center;
				margin-bottom: 10px;
                padding:0px 10px;
				.rounded(5px);
			}
			h3{
                display: none;
				font-size: 24px;
				a{
					background: none;
					padding: 0px;
					font-weight: normal;
				}
			}
			.img-news{
				background: url(images/img-shadow.png) bottom left no-repeat;
				height: 158px;
				img{
					border:3px solid @white;
				}
			}
			a{
				background: url(images/gray-arrow.png) center left no-repeat;
				padding-left: 15px;
				font-family: @custom;
				font-weight: bold;
			}
		}
	}
	section#projects{
		width:1114px;
		overflow: hidden;
		clear:both;
		.banner{
				padding: 20px 0px 20px 76px;
				float: left;
				width: 481px;
			h2{
				color: @white;
				font-weight: bold;
				line-height: 40px;
				.shadow-text();
			}
			a{
				float: left;
				.button();
			}
		}
		.project2{
			background: @blue url(images/inter-industry-project.png) top right no-repeat;
			.inner-shadow(#009bc1);
		}
		.project3{
			background: @green url(images/disaster-prevention-project.png) top right no-repeat;
			.inner-shadow(#00ad78);
		}
	}
	section#links{
		height: 100%;
		position: relative;
		.container_24{
			position: relative;
		}
		.prev{
			background: url(images/next-prev2.png) 0 0 no-repeat;
			display: block;
			height: 18px;
			position: absolute;
			top: -17px;
			left: 0px;
			width: 10px;
            visibility: visible;
            z-index: 10000;
			&:hover{
				background-position: -40px 0px;
			}

		}
		.next{
			background: url(images/next-prev2.png) 0 -40px no-repeat;
			display: block;
			height: 18px;
			position: absolute;
            top: -15px;
            right: 1px;
			width: 10px;
            visibility: visible;
			&:hover{
				background-position: -40px -40px;
			}
		}
		.label{
			background: @green;
			color: @white;
			padding: 3px 5px;
			float: left;
			font-size: 18px;
			font-weight: bold;
			.rounded-bottom(5px);
		}
		#tiny-carousel-slider1{
			margin:15px 0px;
            padding: 0;
            width: 950px;
            float: left;
			img{
				margin:0px 25px;
			}
		}
	}
	footer{
		height: 100%;
        clear: both;
		#sitemap{
			border-top:1px solid @light-gray;
			padding:35px 0px;
			#logo-footer{

			}
            #description {
                font-size: 12px;
            }
			ul#menu-menu-2{
				padding:0px;
                margin-top: 48px;
				margin-bottom: 0px;
				-moz-column-count: 2;
		        -moz-column-gap: 10px;
		        -webkit-column-count: 2;
		        -webkit-column-gap: 10px;
		        -khtml-column-count: 2;
		        -khtml-column-gap: 10px;
		        column-count: 2;
				column-gap: 20px;
				li{
					padding-bottom: 10px;
                    padding-left: 33px;
					line-height: 16px;
					a{
						background: url(images/gray-arrow.png) center left no-repeat;
						padding-left: 15px;
					}
                    ul{
                        display: none;
                    }
				}
			}
            #contact-info{
                margin-top: 48px;
            }
		}
		#copyright{
			background: @green;
			color: @white;
			font-weight: bold;
			height: 50px;
			line-height: 50px;
			text-align: center;
		}
	}
    .category{
        .entry-header-post{
            background: transparent !important;
            color: @gray;
            h1{
                background: transparent !important;
                color: @gray;                
            }
        }
    }    
    #primary{
        margin: 50px 80px;
        .has-sidebar{
            width: 67%;
            float: left;
        }
        #content{
            .entry-header, .entry-header-post, .archive-header-category {
                /*margin-bottom: 30px;*/
                position: relative;
                bottom: 108px;
                right: 80px;
                height: 140px;
                color: @white;
                background: @green;
                width: 1114px;                
                h1 {
                    margin-top: 78px;
                    padding-left: 70px;
                    background: @green;
                    padding-bottom: 20px;
                    width: 1044px;
                }              
            }
            .entry-content {
                position: relative;
                bottom: 73px;
            }              
            .post{
                .entry-header {
                    position: relative;
                    bottom: 108px;
                    right: 80px;
                    height: auto;
                    color: @gray;
                    background: transparent;
                    width: 1114px;                
                    h1 {
                        margin-top: 0px;
                        margin-left: 70px;
                    }
                    .entry-date {
                        margin-left: 70px;
                    }
                }
                .entry-content {
                    position: relative;
                    bottom: 63px;
                }                
            }
            .archive-header {
                margin-bottom: 20px;
            }            
            .nocomments{
                display: none;
            }
            .wpcf7{
                float: left;
                width: 500px;
                p{
                    label{
                        width: 107px;
                        display: inline-block;
                        font-weight: bold;
                        .required{
                            color: @red;
                        }
                    }
                    .captcha-206{
                        input{
                            width: 60px;
                        }
                    }
                }
            }
            #agenda-container{
                .date{
                    float: left;
                    font-family:@custom;
                    font-size: 44px;
                    line-height: 50px;
                }
                .info-column{
                    float: left;
                    .event{
                        margin: 0 0 22px 0;
                        time{
                            font-family:@custom;
        				    color: @white;
                            .rounded(8px);
                            padding: 2px 10px;
                            font-size: 16px;
                            font-weight: bold;
                            float: left;
                            width: 104px;
                            margin-right: 15px;                            
                        }
                        .info{
                            font-size: 16px;
                            display: inline-block;
                            width: 600px;
                        }
                    }
                }
                #day1{
                    display: inline-block;
                    .info-column{
                        .event{
                            time{
                                background: @blue;
                            }
                        }
                    }
                }
                #day2{
                    display: inline-block;
                    margin-top: 46px;
                    .info-column{
                        .event{
                            time{
                                background: @green;
                            }
                        }
                    }
                }
            }
        }
    }
    #secondary{
        width: 29%;
        float: left;
        margin: 80px 0 0 38px;
        .rpwe-block h3{
            font-size:17px !important;
        }
    }
    #sidebar{
        margin: 20px 68px;
        ul{
            list-style: none;
            li{
                p{
                    margin-top: 20px;
                }
                h2{
                    margin-bottom: 0;
                }
            }
        }
    }
    #searchform{
    	border:2px solid @white;
		height: 40px;
		outline-color:@green;
		margin-top:9px;
		padding: 0px; 
		position: relative;
        width: 19.5em;
		.rounded(8px);
		.shadow();
		.gradient(#ffffff, #e7e7e7, #ffffff);
		#searchsubmit{
			background: url(images/search-icon.png);
			height: 40px;
			text-indent: -9999px;
			position: absolute;
			right: 0px;
            top: 0px;
			width: 46px;
            border: none;
		}
		#s{
			background: transparent;
			border:none;
			color:@gray;
			height: 40px;
			margin: 0px;
			padding: 0px 0px 0px 10px;
			width: 260px;
            outline: none;
			.shadow(0px, 0px, 0px);
		}            
    }
}
	
