/* CSS crunched with Crunch - http://crunchapp.net/ */
@import url(http://fonts.googleapis.com/css?family=Exo:500,700,800|Roboto:400,700,900);
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;line-height:1.5em;}
html,button,input,select,textarea{font-family:Arial,Helvetica,Verdana,Sans-Serif;}
body{width:100%;margin:0;padding:0;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1{font-size:2em;margin-top:0;margin-bottom:0.75em;}
h2{font-size:1.5em;line-height:2em;margin-top:0;}
h3{font-size:1.17em;line-height:1.282em;margin-top:0;}
h4{font-size:1em;line-height:1.5em;margin-top:0;}
h5{font-size:0.83em;line-height:1.807em;margin-top:0;}
h6{font-size:0.75em;line-height:2em;margin-top:0;}
hr{height:1px;border:1px solid #666;padding-bottom:-1px;margin:1.5em 0;}
abbr[title]{border-bottom:1px dotted;cursor:help;white-space:nowrap;}
b,strong{font-weight:bold;}
blockquote{margin:1.5em 30px;}
dfn{font-style:italic;}
mark{background:#ffd75c;color:#000;}
p,pre{margin:1.5em 0;}
pre,code,kbd,samp,tt,var{font-family:"Courier New","DejaVu Sans Mono",monospace,sans-serif;_font-family:'courier new',monospace;font-size:1em;line-height:1.5em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul,.item-list ul{margin:0 0 1.5em 0;}
.item-list ul li{margin:0;}
dd{margin:0 0 0 30px;}
ul ul,ul ol,ol ul,ol ol,.item-list ul ul,.item-list ul ol,.item-list ol ul,.item-list ol ol{margin:0;}
menu,ol{padding:0 0 0 30px;}
ul,.item-list ul{padding:0 0 0 10px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;max-width:100%;height:auto;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.5em 0.625em 1em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;margin-top:1.5em;margin-bottom:1.5em;border:1px solid #969696;}
caption{background:#2d2d2d;padding:5px;color:#fff;font-weight:bold;}
th{padding:0;border-bottom:none;}
tr th,thead th{color:#fff;font-weight:normal;background-color:#4f4f4f;border-right:1px solid #969696;padding:10px;}
tr td{border-top:1px solid #969696;border-right:1px solid #969696;padding:10px;}
tr.odd td{background:#f2f7fc;}
tbody{border-top:none;}
p,ul,ol{margin-top:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;margin-bottom:0.5em;}
.to-left{float:left;}
.to-right{float:right;}
.uppercase{text-transform:uppercase;}
.relative{position:relative;}
html{margin:0;padding:0;}
a{color:#05995c;text-decoration:none;}
a:hover{color:#00acd7;text-decoration:underline;}
body{font-family:'Roboto',sans-serif;font-size:14px;font-weight:400;color:#646469;text-align:center;}
p{font-family:'Roboto',sans-serif;font-weight:normal;}
input.submit{color:#646469;display:block;font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;padding:8px 15px;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#e3e0e3));background:-webkit-linear-gradient(#ffffff, #e3e0e3);background:-moz-linear-gradient(#ffffff, #e3e0e3);background:-ms-linear-gradient(#ffffff, #e3e0e3);background:-o-linear-gradient(#ffffff, #e3e0e3);background:linear-gradient(#ffffff, #e3e0e3);-pie-background:linear-gradient(#ffffff, #e3e0e3);box-shadow:0px 1px 3px #555555;-moz-box-shadow:0px 1px 3px #555555;-webkit-box-shadow:0px 1px 3px #555555;behavior:url(../PIE.php);float:right;width:auto;}input.submit:hover{color:#05995c;text-decoration:none;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#bed9ce));background:-webkit-linear-gradient(#ffffff, #bed9ce);background:-moz-linear-gradient(#ffffff, #bed9ce);background:-ms-linear-gradient(#ffffff, #bed9ce);background:-o-linear-gradient(#ffffff, #bed9ce);background:linear-gradient(#ffffff, #bed9ce);-pie-background:linear-gradient(#ffffff, #bed9ce);behavior:url(../PIE.php);}
.wpcf7-submit{color:#646469;display:block;font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;padding:8px 15px;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#e3e0e3));background:-webkit-linear-gradient(#ffffff, #e3e0e3);background:-moz-linear-gradient(#ffffff, #e3e0e3);background:-ms-linear-gradient(#ffffff, #e3e0e3);background:-o-linear-gradient(#ffffff, #e3e0e3);background:linear-gradient(#ffffff, #e3e0e3);-pie-background:linear-gradient(#ffffff, #e3e0e3);box-shadow:0px 1px 3px #555555;-moz-box-shadow:0px 1px 3px #555555;-webkit-box-shadow:0px 1px 3px #555555;behavior:url(../PIE.php);width:auto;}.wpcf7-submit:hover{color:#05995c;text-decoration:none;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#bed9ce));background:-webkit-linear-gradient(#ffffff, #bed9ce);background:-moz-linear-gradient(#ffffff, #bed9ce);background:-ms-linear-gradient(#ffffff, #bed9ce);background:-o-linear-gradient(#ffffff, #bed9ce);background:linear-gradient(#ffffff, #bed9ce);-pie-background:linear-gradient(#ffffff, #bed9ce);behavior:url(../PIE.php);}
.buttonclass{border:2px solid #ffffff;color:#646469;clear:both;display:block;font-family:'Roboto',sans-serif;font-size:14px;margin:9px 0px;outline-color:#05ce7b;outline-width:thin;padding:8px;width:350px;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;box-shadow:0px 1px 3px #bdc2be;-moz-box-shadow:0px 1px 3px #bdc2be;-webkit-box-shadow:0px 1px 3px #bdc2be;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#e7e7e7) to(#ffffff));background:-webkit-linear-gradient(#e7e7e7, #ffffff);background:-moz-linear-gradient(#e7e7e7, #ffffff);background:-ms-linear-gradient(#e7e7e7, #ffffff);background:-o-linear-gradient(#e7e7e7, #ffffff);background:linear-gradient(#e7e7e7, #ffffff);-pie-background:linear-gradient(#e7e7e7, #ffffff);behavior:url(../PIE.php);}
h1,h2,h3,h4,h5,h6{font-family:'Exo',sans-serif;}
h1{font-size:43px;line-height:40px;}
h2{font-size:38px;}
h3{font-size:30px;}
h4{font-size:26px;}
h5{font-size:20px;}
h6{font-size:12px;}
table{background:#cccccc;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#f5f5f5));background:-webkit-linear-gradient(#ffffff, #f5f5f5);background:-moz-linear-gradient(#ffffff, #f5f5f5);background:-ms-linear-gradient(#ffffff, #f5f5f5);background:-o-linear-gradient(#ffffff, #f5f5f5);background:linear-gradient(#ffffff, #f5f5f5);-pie-background:linear-gradient(#ffffff, #f5f5f5);box-shadow:0px 1px 3px #04b06f;-moz-box-shadow:0px 1px 3px #04b06f;-webkit-box-shadow:0px 1px 3px #04b06f;behavior:url(../PIE.php);}table td{box-shadow:0px 1px 3px #04b06f;-moz-box-shadow:0px 1px 3px #04b06f;-webkit-box-shadow:0px 1px 3px #04b06f;behavior:url(../PIE.php);}
.alignleft{float:left;}
.alignright{float:right;}
.alignnone{float:none;}
#wrap{height:100%;margin:auto;position:relative;text-align:left;width:1114px;}#wrap header{background:#f1f7f2;height:66px;padding:10px 0 9px;}#wrap header h1#logo{margin-bottom:0px;}
#wrap header #social-buttons{width:250px;float:left;display:inline-block;height:50px;margin-top:15px;}#wrap header #social-buttons #social-text{top:-12px;position:relative;font-weight:bold;margin-right:6px;}
#wrap header #social-buttons ul{padding:0;display:inline;}#wrap header #social-buttons ul li{display:inline-block;}#wrap header #social-buttons ul li a{width:36px;height:36px;display:inline-block;}
#wrap header #social-buttons ul li.facebook{background:url(images/social-network-buttons.png) no-repeat 0 0;}#wrap header #social-buttons ul li.facebook:hover{background-position:0 -50px;}
#wrap header #social-buttons ul li.twitter{background:url(images/social-network-buttons.png) no-repeat -42px 0;}#wrap header #social-buttons ul li.twitter:hover{background-position:-42px -50px;}
#wrap header #social-buttons ul li.reddit{background:url(images/social-network-buttons.png) no-repeat -85px 0;}#wrap header #social-buttons ul li.reddit:hover{background-position:-85px -50px;}
#wrap header #social-buttons ul li.stumbleupon{background:url(images/social-network-buttons.png) no-repeat -128px 0;}#wrap header #social-buttons ul li.stumbleupon:hover{background-position:-128px -50px;}
#wrap header ul#qtranslate-2-chooser{margin-top:21px;width:150px;padding-left:80px;float:left;}#wrap header ul#qtranslate-2-chooser li{border-right:2px solid #646469;list-style:none;display:inline-block;padding:0px 5px;}#wrap header ul#qtranslate-2-chooser li:last-child{border-right:none;}
#wrap header ul#qtranslate-2-chooser li a{color:#646469;display:block;font-size:18px;font-weight:bold;padding:0px 3px;}#wrap header ul#qtranslate-2-chooser li a:hover{color:#00acd7;}
#wrap header ul#qtranslate-2-chooser li.active a{color:#ffffff;background:#00acd7;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(../PIE.php);}#wrap header ul#qtranslate-2-chooser li.active a:hover{color:#ffffff;}
#wrap nav{position:relative;z-index:100;background:#cccccc;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#f5f5f5));background:-webkit-linear-gradient(#ffffff, #f5f5f5);background:-moz-linear-gradient(#ffffff, #f5f5f5);background:-ms-linear-gradient(#ffffff, #f5f5f5);background:-o-linear-gradient(#ffffff, #f5f5f5);background:linear-gradient(#ffffff, #f5f5f5);-pie-background:linear-gradient(#ffffff, #f5f5f5);box-shadow:0px 1px 3px #04b06f;-moz-box-shadow:0px 1px 3px #04b06f;-webkit-box-shadow:0px 1px 3px #04b06f;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;-khtml-border-radius-bottomright:10px;-khtml-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(../PIE.php);}#wrap nav ul{margin:0px;padding:0px;}#wrap nav ul li{display:inline-block;position:relative;}#wrap nav ul li a{color:#646469;display:block;font-family:'Exo',sans-serif;font-size:15px;}#wrap nav ul li a:hover{color:#00acd7;text-decoration:none;}
#wrap nav ul li ul{display:none;}
#wrap nav ul li:hover ul{display:block;position:absolute;top:55px;left:20px;width:250px;background:#cccccc;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#f5f5f5));background:-webkit-linear-gradient(#ffffff, #f5f5f5);background:-moz-linear-gradient(#ffffff, #f5f5f5);background:-ms-linear-gradient(#ffffff, #f5f5f5);background:-o-linear-gradient(#ffffff, #f5f5f5);background:linear-gradient(#ffffff, #f5f5f5);-pie-background:linear-gradient(#ffffff, #f5f5f5);box-shadow:0px 1px 3px #04b06f;-moz-box-shadow:0px 1px 3px #04b06f;-webkit-box-shadow:0px 1px 3px #04b06f;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;-khtml-border-radius-bottomright:10px;-khtml-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(../PIE.php);}#wrap nav ul li:hover ul li{display:block;}#wrap nav ul li:hover ul li a{color:#646469;display:block;font-family:'Exo',sans-serif;font-size:15px;padding:10px;}#wrap nav ul li:hover ul li a:hover{color:#00acd7;text-decoration:none;}
#wrap nav ul.en li a{padding:17px;}
#wrap nav ul.ru li a{padding:17px 13px;}
#wrap ul.side-menu{width:250px;list-style-type:none;}#wrap ul.side-menu li{display:block;}#wrap ul.side-menu li a{display:block;font-family:'Exo',sans-serif;font-size:15px;padding:10px;}#wrap ul.side-menu li a:hover{color:#00acd7;text-decoration:none;}
#wrap ul.side-menu2{width:280px;list-style-type:none;}#wrap ul.side-menu2 li{padding:5px 0;}#wrap ul.side-menu2 li ul{list-style-type:none;}#wrap ul.side-menu2 li ul li{padding:0;}#wrap ul.side-menu2 li ul li a{font-family:'Exo',sans-serif;font-size:15px;}#wrap ul.side-menu2 li ul li a:hover{color:#00acd7;text-decoration:none;}
#wrap section#main-banner{height:530px;margin-top:-58px;background:#05ce7b;background:-moz-linear-gradient(-45deg, #05ce7b 0%, #00acd7 100%);background:-webkit-gradient(linear, left top, right bottom, color-stop(0%, #05ce7b), color-stop(100%, #00acd7));background:-webkit-linear-gradient(-45deg, #05ce7b 0%, #00acd7 100%);background:-o-linear-gradient(-45deg, #05ce7b 0%, #00acd7 100%);background:-ms-linear-gradient(-45deg, #05ce7b 0%, #00acd7 100%);background:linear-gradient(135deg, #05ce7b 0%, #00acd7 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#05ce7b', endColorstr='#00acd7', GradientType=1);-pie-background:linear-gradient(#05ce7b, #00acd7);behavior:url(../PIE.php);}#wrap section#main-banner .flexslider{background:none;box-shadow:none;}#wrap section#main-banner .flexslider .slides{background:none;padding:0;}
#wrap section#main-banner .flex-prev{background:url(images/next-prev1.png) 0 0 no-repeat;display:block;height:47px;position:absolute;top:278px;left:-70px;width:47px;z-index:100;}#wrap section#main-banner .flex-prev:hover{background-position:-80px 0px;}
#wrap section#main-banner .flex-next{background:url(images/next-prev1.png) 0 -70px no-repeat;display:block;height:47px;position:absolute;top:278px;right:-55px;width:47px;z-index:100;}#wrap section#main-banner .flex-next:hover{background-position:-80px -70px;}
#wrap section#main-banner .flex-caption{color:#ffffff;padding-top:180px;position:relative;z-index:100;}#wrap section#main-banner .flex-caption h2{line-height:50px;-webkit-text-shadow:0px 1px 2px #8b8b8b;-moz-text-shadow:0px 1px 2px #8b8b8b;-khtml-text-shadow:0px 1px 2px #8b8b8b;text-shadow:0px 1px 2px #8b8b8b;filter:dropshadow(color=#8b8b8b, offx=0, offy=1);}
#wrap section#main-banner .flex-caption a{float:left;color:#646469;display:block;font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;padding:8px 15px;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#e3e0e3));background:-webkit-linear-gradient(#ffffff, #e3e0e3);background:-moz-linear-gradient(#ffffff, #e3e0e3);background:-ms-linear-gradient(#ffffff, #e3e0e3);background:-o-linear-gradient(#ffffff, #e3e0e3);background:linear-gradient(#ffffff, #e3e0e3);-pie-background:linear-gradient(#ffffff, #e3e0e3);box-shadow:0px 1px 3px #555555;-moz-box-shadow:0px 1px 3px #555555;-webkit-box-shadow:0px 1px 3px #555555;behavior:url(../PIE.php);}#wrap section#main-banner .flex-caption a:hover{color:#05995c;text-decoration:none;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#bed9ce));background:-webkit-linear-gradient(#ffffff, #bed9ce);background:-moz-linear-gradient(#ffffff, #bed9ce);background:-ms-linear-gradient(#ffffff, #bed9ce);background:-o-linear-gradient(#ffffff, #bed9ce);background:linear-gradient(#ffffff, #bed9ce);-pie-background:linear-gradient(#ffffff, #bed9ce);behavior:url(../PIE.php);}
#wrap section#main-banner .feature-image{height:530px;position:absolute;right:-72px;top:-5px;width:1114px !important;}#wrap section#main-banner .feature-image img{border:none;}
#wrap section#news{background:#f1f7f2;height:100%;padding:35px 0px;}#wrap section#news article{display:inline-block;height:100%;width:300px;margin-right:25px;float:left;}#wrap section#news article:last-child{margin-right:0px;}
#wrap section#news article .date{background:#00acd7;color:#ffffff;width:90px;height:24px;text-align:center;margin-bottom:10px;padding:0px 10px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(../PIE.php);}
#wrap section#news article h3{display:none;font-size:24px;}#wrap section#news article h3 a{background:none;padding:0px;font-weight:normal;}
#wrap section#news article .img-news{background:url(images/img-shadow.png) bottom left no-repeat;height:158px;}#wrap section#news article .img-news img{border:3px solid #ffffff;}
#wrap section#news article a{background:url(images/gray-arrow.png) center left no-repeat;padding-left:15px;font-family:'Exo',sans-serif;font-weight:bold;}
#wrap section#projects{width:1114px;overflow:hidden;clear:both;}#wrap section#projects .banner{padding:20px 0px 20px 76px;float:left;width:481px;}#wrap section#projects .banner h2{color:#ffffff;font-weight:bold;line-height:40px;-webkit-text-shadow:0px 1px 2px #8b8b8b;-moz-text-shadow:0px 1px 2px #8b8b8b;-khtml-text-shadow:0px 1px 2px #8b8b8b;text-shadow:0px 1px 2px #8b8b8b;filter:dropshadow(color=#8b8b8b, offx=0, offy=1);}
#wrap section#projects .banner a{float:left;color:#646469;display:block;font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;padding:8px 15px;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#e3e0e3));background:-webkit-linear-gradient(#ffffff, #e3e0e3);background:-moz-linear-gradient(#ffffff, #e3e0e3);background:-ms-linear-gradient(#ffffff, #e3e0e3);background:-o-linear-gradient(#ffffff, #e3e0e3);background:linear-gradient(#ffffff, #e3e0e3);-pie-background:linear-gradient(#ffffff, #e3e0e3);box-shadow:0px 1px 3px #555555;-moz-box-shadow:0px 1px 3px #555555;-webkit-box-shadow:0px 1px 3px #555555;behavior:url(../PIE.php);}#wrap section#projects .banner a:hover{color:#05995c;text-decoration:none;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#bed9ce));background:-webkit-linear-gradient(#ffffff, #bed9ce);background:-moz-linear-gradient(#ffffff, #bed9ce);background:-ms-linear-gradient(#ffffff, #bed9ce);background:-o-linear-gradient(#ffffff, #bed9ce);background:linear-gradient(#ffffff, #bed9ce);-pie-background:linear-gradient(#ffffff, #bed9ce);behavior:url(../PIE.php);}
#wrap section#projects .project2{background:#00acd7 url(images/inter-industry-project.png) top right no-repeat;-moz-box-shadow:inset 0 0 20px #009bc1;-webkit-box-shadow:inset 0 0 20px #009bc1;-khtml-box-shadow:inset 0 0 20px #009bc1;box-shadow:inset 0 0 20px #009bc1;}
#wrap section#projects .project3{background:#05ce7b url(images/disaster-prevention-project.png) top right no-repeat;-moz-box-shadow:inset 0 0 20px #00ad78;-webkit-box-shadow:inset 0 0 20px #00ad78;-khtml-box-shadow:inset 0 0 20px #00ad78;box-shadow:inset 0 0 20px #00ad78;}
#wrap section#links{height:100%;position:relative;}#wrap section#links .container_24{position:relative;}
#wrap section#links .prev{background:url(images/next-prev2.png) 0 0 no-repeat;display:block;height:18px;position:absolute;top:-17px;left:0px;width:10px;visibility:visible;z-index:10000;}#wrap section#links .prev:hover{background-position:-40px 0px;}
#wrap section#links .next{background:url(images/next-prev2.png) 0 -40px no-repeat;display:block;height:18px;position:absolute;top:-15px;right:1px;width:10px;visibility:visible;}#wrap section#links .next:hover{background-position:-40px -40px;}
#wrap section#links .label{background:#05ce7b;color:#ffffff;padding:3px 5px;float:left;font-size:18px;font-weight:bold;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;-khtml-border-radius-bottomright:5px;-khtml-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(../PIE.php);}
#wrap section#links #tiny-carousel-slider1{margin:15px 0px;padding:0;width:950px;float:left;}#wrap section#links #tiny-carousel-slider1 img{margin:0px 25px;}
#wrap footer{height:100%;clear:both;}#wrap footer #sitemap{border-top:1px solid #d9dfda;padding:35px 0px;}
#wrap footer #sitemap #description{font-size:12px;}
#wrap footer #sitemap ul#menu-menu-2{padding:0px;margin-top:48px;margin-bottom:0px;-moz-column-count:2;-moz-column-gap:10px;-webkit-column-count:2;-webkit-column-gap:10px;-khtml-column-count:2;-khtml-column-gap:10px;column-count:2;column-gap:20px;}#wrap footer #sitemap ul#menu-menu-2 li{padding-bottom:10px;padding-left:33px;line-height:16px;}#wrap footer #sitemap ul#menu-menu-2 li a{background:url(images/gray-arrow.png) center left no-repeat;padding-left:15px;}
#wrap footer #sitemap ul#menu-menu-2 li ul{display:none;}
#wrap footer #sitemap #contact-info{margin-top:48px;}
#wrap footer #copyright{background:#05ce7b;color:#ffffff;font-weight:bold;height:50px;line-height:50px;text-align:center;}
#wrap .category .entry-header-post{background:transparent !important;color:#646469;}#wrap .category .entry-header-post h1{background:transparent !important;color:#646469;}
#wrap #primary{margin:50px 80px;}#wrap #primary .has-sidebar{width:67%;float:left;}
#wrap #primary #content .entry-header,#wrap #primary #content .entry-header-post,#wrap #primary #content .archive-header-category{position:relative;bottom:108px;right:80px;height:140px;color:#ffffff;background:#05ce7b;width:1114px;}#wrap #primary #content .entry-header h1,#wrap #primary #content .entry-header-post h1,#wrap #primary #content .archive-header-category h1{margin-top:78px;padding-left:70px;background:#05ce7b;padding-bottom:20px;width:1044px;}
#wrap #primary #content .entry-content{position:relative;bottom:73px;}
#wrap #primary #content .post .entry-header{position:relative;bottom:108px;right:80px;height:auto;color:#646469;background:transparent;width:1114px;}#wrap #primary #content .post .entry-header h1{margin-top:0px;margin-left:70px;}
#wrap #primary #content .post .entry-header .entry-date{margin-left:70px;}
#wrap #primary #content .post .entry-content{position:relative;bottom:63px;}
#wrap #primary #content .archive-header{margin-bottom:20px;}
#wrap #primary #content .nocomments{display:none;}
#wrap #primary #content .wpcf7{float:left;width:500px;}#wrap #primary #content .wpcf7 p label{width:107px;display:inline-block;font-weight:bold;}#wrap #primary #content .wpcf7 p label .required{color:#ff0000;}
#wrap #primary #content .wpcf7 p .captcha-206 input{width:60px;}
#wrap #primary #content #agenda-container .date{float:left;font-family:'Exo',sans-serif;font-size:44px;line-height:50px;}
#wrap #primary #content #agenda-container .info-column{float:left;}#wrap #primary #content #agenda-container .info-column .event{margin:0 0 22px 0;}#wrap #primary #content #agenda-container .info-column .event time{font-family:'Exo',sans-serif;color:#ffffff;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(../PIE.php);padding:2px 10px;font-size:16px;font-weight:bold;float:left;width:104px;margin-right:15px;}
#wrap #primary #content #agenda-container .info-column .event .info{font-size:16px;display:inline-block;width:600px;}
#wrap #primary #content #agenda-container #day1{display:inline-block;}#wrap #primary #content #agenda-container #day1 .info-column .event time{background:#00acd7;}
#wrap #primary #content #agenda-container #day2{display:inline-block;margin-top:46px;}#wrap #primary #content #agenda-container #day2 .info-column .event time{background:#05ce7b;}
#wrap #secondary{width:29%;float:left;margin:80px 0 0 38px;}#wrap #secondary .rpwe-block h3{font-size:17px !important;}
#wrap #sidebar{margin:20px 68px;}#wrap #sidebar ul{list-style:none;}#wrap #sidebar ul li p{margin-top:20px;}
#wrap #sidebar ul li h2{margin-bottom:0;}
#wrap #searchform{border:2px solid #ffffff;height:40px;outline-color:#05ce7b;margin-top:9px;padding:0px;position:relative;width:19.5em;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;box-shadow:0px 1px 3px #bdc2be;-moz-box-shadow:0px 1px 3px #bdc2be;-webkit-box-shadow:0px 1px 3px #bdc2be;background:#ffffff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#e7e7e7) to(#ffffff));background:-webkit-linear-gradient(#e7e7e7, #ffffff);background:-moz-linear-gradient(#e7e7e7, #ffffff);background:-ms-linear-gradient(#e7e7e7, #ffffff);background:-o-linear-gradient(#e7e7e7, #ffffff);background:linear-gradient(#e7e7e7, #ffffff);-pie-background:linear-gradient(#e7e7e7, #ffffff);behavior:url(../PIE.php);}#wrap #searchform #searchsubmit{background:url(images/search-icon.png);height:40px;text-indent:-9999px;position:absolute;right:0px;top:0px;width:46px;border:none;}
#wrap #searchform #s{background:transparent;border:none;color:#646469;height:40px;margin:0px;padding:0px 0px 0px 10px;width:260px;outline:none;box-shadow:0px 0px 0px #bdc2be;-moz-box-shadow:0px 0px 0px #bdc2be;-webkit-box-shadow:0px 0px 0px #bdc2be;behavior:url(../PIE.php);}
@media print{a:link,a:visited{text-decoration:underline !important;} #site-name a:link,#site-name a:visited{text-decoration:none !important;} #content{float:none !important;width:100% !important;margin:0 !important;padding:0 !important;}#content a[href]:after{content:" (" attr(href) ")";font-weight:normal;font-size:16px;} #content a[href^="javascript:"]:after,#content a[href^="#"]:after{content:"";} #content abbr[title]:after{content:" (" attr(title) ")";} body,#page,#main,#content{color:#000;background-color:transparent !important;background-image:none !important;} #skip-link,#toolbar,#navigation,.region-sidebar-first,.region-sidebar-second,#footer,.breadcrumb,.tabs,.action-links,.links,.book-navigation,.forum-topic-navigation,.pager,.feed-icons{visibility:hidden;display:none;}}@-moz-document url-prefix(){article{margin-right:26px !important;}article:last-child{margin-right:0px !important;}}@media screen and (-webkit-min-device-pixel-ratio:0){}html.ie-8{}
html.ie-7{}
html.no-js{}
html.mac{}
